# Add any directories, files, or patterns you don't want to be tracked by version control
/AedFinalProject/nbproject/private/
/AedFinalProject/build/
/AedFinalProject/dist/
/AedFinalProject - merged/build/
/AedFinalProject - merged/dist/
/AedFinalProject - merged/nbproject/private/
/AedFinalProject - Copy (3)/build/
/AedFinalProject - Copy (3)/dist/
/AedFinalProject - Copy (3)/nbproject/private/